<main>
  <form method="POST" action="/members/<%= @member.id %>">

    <label for="name">Name:</label>
    <input type="text" name="name" id="name" value="<%= @member.name %>">

    <label for="age">Age:</label>
    <input type="number" min="16" name="age" id="age" value="<%= @member.age %>">

    <label for="membership-type">Membership_type:</label>
    <select id="membership-type" name="membership_type" value="<%= @member.membership_type %>">
      <option value ="basic">Basic</option>
      <option value="premium">Premium</option>
      <option value="trial">Trial</option>
    </select>

    <input type="submit" value="Update Member">

  </form>

</main>
