<main>
  <h1>Member List</h1>
<div class="table">
  <table class="tabledata">
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Membership Type</th>
      <th>Membership Status</th>
      <th>View Profile</th>
    </tr>
    <% @members.each do | member | %>
    <tr>
      <td><%= member.join_name()%></td>
      <td><%= member.age %></td>
      <td><%= member.membership_tier_name() %></td>
      <td><% if member.membership_status == "active" %>
          <i class="fas fa-user"></i> Active
        <% else %>
          <i class="fas fa-user-alt-slash"></i> Inactive
        <% end %> </td>
      <td class="centered"><a class="icon" href="/members/<%= member.id %>"><i class="far fa-address-card"></i></a></td>
    </tr>
    <% end %>
  </table>
</div>
</main>
