<form method="POST" action="/members">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <label for="age">Age:</label>
  <input type="number" min="16" name="age" id="age">

  <label for="membership-type">Membership_type:</label>
  <select id="membership-type" name="membership_type">
    <option value ="basic">Basic</option>
    <option value="premium">Premium</option>
    <option value="premium">Trial</option>
  </select>

  <input type="submit" value="Sign up new member">

</form>
