<form method="post" action="/lessons">

  <label for="name">Lesson name:</label>
  <input type="text" name="name" id="name">

  <label for="lesson-type">Lesson type:</label>
  <select id="lesson-type" name="lesson_tier_id">
    <% @membership_tiers.each do | tier | %>
    <option value ="<%= tier.id %>"><%= tier.name %></option>
    <% end %>
  </select>

  <label for="lesson-date">Lesson day:</label>
  <input type="text" name="lesson_date" id="lesson-date">

  <label for="lesson-time">Lesson time:</label>
  <input type="text" name="lesson_time" id="lesson-time">

  <input type="submit" value="Create Lesson">

</form>
