<main>
  <div class="edit_screen_box">
    <a href="/lessons"><i class="fas fa-angle-double-left"></i> Back to lesson list</a>
    <h2>Create new lesson</h2>
    <form method="post" action="/lessons">

      <div class ="form_item">
        <label for="name">Activity name:</label>
        <input type="text" name="name" id="name">
      </div>

      <div class ="form_item">
        <label for="lesson-type">Membership tier:</label>
        <select id="lesson-type" name="lesson_tier_id">
          <% @membership_tiers.each do | tier | %>
          <option value ="<%= tier.id %>"><%= tier.name %></option>
          <% end %>
        </select>
      </div>

      <div class ="form_item">
        <label for="date">Day:</label>
        <input type="text" name="date" id="date">
      </div>

      <div class ="form_item">
        <label for="time">Time:</label>
        <input type="text" name="time" id="time">
      </div>

      <div class ="form_item">
        <input type="submit" value="Create Lesson">
      </div>

    </form>
  </div>
</main>
