<main>
  <h1>Request could not be completed</h1>
  <p class="reject-request-page">This member is not active.</p>

    <a href="/members/<%= @memberid %>"><i class="fas fa-angle-double-left"></i> Activate membership</a>
</main>
