<main>
  <h1>Request could not be completed</h1>
  <p class="reject-request-page">This member does not exist.</p>

    <a href="/members/new"><i class="fas fa-angle-double-left"></i> Sign Up New Member</a>
</main>
