<main>
  <h1>Request could not be completed</h1>
  <p>The member's membership type does not allow them to take this lesson.</p>

  <a href="/members/<%= @memberid %>"><i class="fas fa-angle-double-left"></i> Upgrade membership tier</a>

  <a href="/lessons"><i class="fas fa-angle-double-left"></i> Select another lesson</a>
</main>
