<main>
  <h1>Request could not be completed</h1>
  <p>This member is already signed up for this lesson.</p>

    <a href="/lessons"><i class="fas fa-angle-double-left"></i> Select a different lesson</a>.
</main>
