<main>
  <h1> Welcome to Gym Duck</h1>
  <h2> Gym administration</h2>

  <h3> Quick gym facts</h3>

  <div class = "member_profile">
    <div class="gym-fact orange-background">
      <h4>Number of members</h4>
      <%= @members.length %>
    </div>

    <div class="gym-fact green-background">
      <h4>Number of lessons offered</h4>
      <%= @lessons.length %>
    </div>

  </div>


</main>
