<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Duck</title>
    <link rel='stylesheet' href='/stylesheet.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/members">Member List</a></li>
        <li><a href="/members">Search for Member</a></li>
        <li><a href="/members">Add New Member</a></li>
        <li><a href="/lessons">Lessons</a></li>
      </ul>
    </nav>
    <%= yield%>
  </body>
</html>
