<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Duck</title>
    <script src="https://kit.fontawesome.com/e623d14e11.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheet.css'>
  </head>
  <body>
    <nav>
      <ul class="nav">
        <li class="nav"><a class =  "nav" href="/"><img src="/images/ducksmall.svg" alt="Gym Duck home button"></a></li>
        <li class="nav"><a class = "nav" href="/members">Member List</a></li>
        <li class="nav"><a class = "nav" href="/members/new">Add New Member</a></li>
        <li class="nav"><a class = "nav" href="/lessons">Lessons</a></li>
        <li class="nav"><a class = "nav" href="/lessons/new">Create New Lesson</a></li>
      </ul>
    </nav>
    <%= yield%>
  </body>
</html>
