<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gym Duck</title>
    <link rel='stylesheet' href='/stylesheet.css'>
  </head>
  <body>
    <nav>
      <ul>
        <li class = "navbtn"><a href="/member/">Search for Member</a></li>
        <li class = "navbtn"><a href="/member/">Add New Member</a></li>
        <li class = "navbtn"><a href="/classes/">Classes</a></li>
      </ul>
    </nav>
    <%= yield%>
  </body>
</html>
