body{
background-color: green;
}

ul {
  list-style-type: none;
}

li {
  background-color: black;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

main {
  padding:10px 200px;
}
