body {
  background-image: url("images/insung-yoon-dYXMHFb9pJw-unsplash.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #333;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation CSS */
nav{
  background-color: #333;
  padding: 0px;
  margin: 0px;
}

ul.nav {
  margin: 0px;
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
}

li.nav {
  float: left;
}

li a.nav {
  display: block;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

/* li {
  text-align: left;
} */

a {
  text-decoration: none;
  cursor: pointer;
}

a.icon {
  /* font-size: 15px; */
  text-align: center;
}





/* Table data (member list and lesson list) */

table.datalist {
  border: solid 5px orange;
  border-radius: 20px;
  border-spacing: 0px;
  border-collapse: collapse;
  color: #006C15;
  background-color: #CAD8DB;
}

table.datalist th {
  border: solid 2px #006C15;
  border-radius: 20px;
  padding: 10px;
}

table.datalist td {
  border: solid 2px #006C15;
  border-radius: 20px;
  padding: 10px;
}

table.datalist td.centered {
  text-align: center;
}


/* .member_profile {
  border: solid 5px orange;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #CAD8DB;
} */

/* .booking_page {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #CAD8DB;
} */

/* Top two are the same. Redundant for now. */

 /* .edit_screen_box {
  margin: 50px;
  padding: 20px;
  min-height: 200px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px orange;
  border-radius: 20px;
  background-color: #CAD8DB;
} */

/* div.gym-fact1 {
  margin: 50px;
  padding: 20px;
  border: solid 5px orange;
  border-radius: 20px;
  background-color: orange;
} */

/* div.gym-fact2 {
  margin: 50px;
  padding: 20px;
  border: solid 5px lightgreen;
  border-radius: 20px;
  background-color: lightgreen;
} */

/* div.gym-fact3 {
  margin: 50px;
  padding: 20px;
  border: solid 5px #FFE2A0;
  border-radius: 20px;
  background-color: #FFE2A0;
} */

/* input[type="submit"] {
  cursor: pointer;
} */
