body {
  background-image: url("images/insung-yoon-dYXMHFb9pJw-unsplash.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-color: #333;
  margin: 0px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Navigation CSS */
nav{
  background-color: #333;
  padding: 0px;
  margin: 0px;
}

ul.nav {
  margin: 0px;
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
}

li.nav {
  float: left;
}

li a.nav {
  display: block;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  color: white;
}

/* font stuff */

h1 {
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  color: #50197F;
  text-decoration: none;
  cursor: pointer;
}

/* Table data (member list and lesson list) */

table.datalist {
  border: solid 5px orange;
  border-radius: 20px;
  border-spacing: 0px;
  border-collapse: collapse;
  color: #006C15;
  background-color: #CAD8DB;
}

table.datalist th {
  border: solid 2px #006C15;
  border-radius: 20px;
  padding: 10px;
  font-weight: 800;
}

table.datalist td {
  border: solid 2px #006C15;
  border-radius: 20px;
  padding: 10px;
}

table.datalist td.centered {
  text-align: center;
}

.member_profile {
  border: solid 5px orange;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #CAD8DB;
}

input[type="submit"] {
  cursor: pointer;
}

/* Lesson index and booking pages */
.booking_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  padding: 20px;
  background-color: #CAD8DB;
  border: solid 5px orange;
  border-radius: 20px;
}

div.booked-members {
  display: flex;
  padding: 0px;
  margin: 0px;
}

ul.booked-members {
  padding: 0px;
  margin: 0px;
  padding-inline-start: 6px;
}

li.booked-members {
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 3px;
}

form.booked-members {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

p.booked-members {
  margin: 5px;
}

a.booked-members {
  margin: 10px;
}

form.lesson-member-add {
  margin: 10px;
  /* padding-inline-start: 10px; */
}

p.bold {
  font-weight: bold;
}

button {
  cursor: pointer;
}

 .edit_screen_box {
  margin: 50px;
  padding: 20px;
  min-height: 200px;
  min-width: 370px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 5px orange;
  border-radius: 20px;
  background-color: #CAD8DB;
}

.form_item {
  margin: 18px;
}

/* div.gym-fact1 {
  margin: 50px;
  padding: 20px;
  border: solid 5px orange;
  border-radius: 20px;
  background-color: orange;
} */

/* div.gym-fact2 {
  margin: 50px;
  padding: 20px;
  border: solid 5px lightgreen;
  border-radius: 20px;
  background-color: lightgreen;
} */

/* div.gym-fact3 {
  margin: 50px;
  padding: 20px;
  border: solid 5px #FFE2A0;
  border-radius: 20px;
  background-color: #FFE2A0;
} */
